<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/registerForm.css">

</head>
<body>
<a href="/" class="home-button">
    <img src="/images/123.png" alt="홈으로 이동">
</a>
<form action="" id="registerForm">
   <table border="1">
        <tr>
            <th>아이디</th>
            <td>
                <input type="text" name="id" id="id">
                <div id="idDiv"></div>
            </td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td>
                <input type="password" name="pwd" id="pwd">
                <div id="pwdDiv"></div>
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                <input type="text" name="name" id="name">
                <div id="nameDiv"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="회원가입" id="registerBtn">
                <input type="reset" value="리셋">
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/register.js"></script> <!--static-->
</body>
</html>
