<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            padding: 5px;
            border-collapse: collapse;
        }

        td {
            text-align: center;
        }
    </style>
</head>

<body>
<h1>기본 테이블</h1>
<table border="1">
    <tr>
        <th width="100">이름</th>
        <th width="100">나이</th>
    </tr>

    <tr th:each="dto,dtoStat : ${list}">
        <td th:text="${dto.name}">name</td>
        <td th:text="${dto.age}">0</td>
    </tr>
</table>

<h1>반복 상태 유지</h1>
<table border="1">
    <tr>
        <th width="50">count</th>
        <th width="100">이름</th>
        <th width="100">나이</th>
        <th width="500">기타</th>
    </tr>

    <tr th:each="dto, dtoStat : ${list}">
        <td th:text="${dtoStat.count}">1</td>
        <td th:text="${dto.name}">p</td>
        <td th:text="${dto.age}">u</td>
        <td>
            index = <span th:text="${dtoStat.index}"></span><br/>
            count = <span th:text="${dtoStat.count}"></span><br/>
            size = <span th:text="${dtoStat.size}"></span><br/>
            even? = <span th:text="${dtoStat.even}"></span><br/>
            odd? = <span th:text="${dtoStat.odd}"></span><br/>
            first? = <span th:text="${dtoStat.first}"></span><br/>
            last? = <span th:text="${dtoStat.last}"></span><br/>
            current? = <span th:text="${dtoStat.current}"></span>
        </td>
    </tr>
</table>

</body>
</html>