<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        header {
            height : 100px;
            background-color : yellow;
        }
        footer {
            height : 100px;
            background-color : pink;
        }
        section {
            height : 200px;
            background-color : green;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:insert="basic/fragment/menu :: header">여기는 menu</header>
    <section>
        여기는 fragmentmain1.html 페이지 입니다.
    </section>
    <footer th:insert="basic/fragment/info :: info">여기는 info</footer>
</body>
</html>
<!--/*
th:insert는 다른 html파일의 특정 프래그먼트를 현재 문서에 삽입

"basic/fragment/menu :: header"는
basic/fragment/menu.html파일의 header라는 이름의 프래그먼트를 삽입하겠다는 의미
*/-->