<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/write.css">
    <title>회원가입</title>
</head>
<body>
<div id="write-jsp">
    <div id="right">
        <a href="/">
            <img src="/image/mangom3.png" width="130" height="140" alt="mangom"/>
        </a>
        <div id="container">
            <div id="edit-header">회원가입</div>
            <!--            <form name="userWriteForm" id="userWriteForm">-->
            <form id="userWriteForm" method="post" th:action="@{/user/write2}">

                <table>
                    <tr>
                        <th class="label">이름</th>
                        <td class="input">
                            <input type="text" name="name" id="name" placeholder="이름 입력"/>
                            <div id="nameDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">아이디</th>
                        <td class="input">
                            <input type="text" name="id" id="id" placeholder="아이디 입력"/>
                            <div id="idDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">비밀번호</th>
                        <td class="input">
                            <input type="password" name="pwd" id="pwd" placeholder="비밀번호 입력"/>
                            <div id="pwdDiv"></div>
                        </td>
                    </tr>
                    <tr align="center">
                        <td colspan="2" height="20">
                            <button type="button" id="writeBtn">회원가입</button>
                            <button type="reset">초기화</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 <script type="text/javascript" src="/js/write.js"></script>
<!--<script type="text/javascript">

    $(function () {
        // 1. ID 입력란에서 포커스가 벗어났을 때 (focusout) 이벤트 발생
        $('#id').focusout(function () {
            $('#idDiv').empty(); // 중복 확인 메시지 영역 초기화

            let id = $('#id').val(); // 입력된 ID 값을 가져옴

            // 2. 입력란이 비어 있는지 확인
            if (id === '') {
                // 비어 있으면 '먼저 아이디 입력' 메시지를 빨간색으로 표시
                $('#idDiv').html("<span style='color: red;'>먼저 아이디 입력</span>");
            } else {
                // 비어있지 않으면 서버에 ID 중복 확인을 위한 AJAX 요청
                $.ajax({
                    type: 'post', // HTTP 메서드로 POST를 사용
                    url: '/user/getExistId', // 서버의 경로 설정 (서버에 요청할 엔드포인트)
                    data: {'id': id}, // 서버에 전달할 데이터로 `id` 값을 전달
                    dataType: 'text', // 서버 응답 데이터 형식을 텍스트로 설정

                    // 3. 서버 응답을 성공적으로 받았을 때 실행되는 함수
                    success: function (data) {
                        // 서버로부터 받은 응답이 'exist'인지 확인
                        if (data === 'exist') {
                            // 'exist'라면, '사용 불가능' 메시지를 빨간색으로 표시
                            $('#idDiv').html('사용 불가능').css('color', 'red');
                        } else {
                            // 'exist'가 아니면, '사용 가능' 메시지를 파란색으로 표시
                            $('#idDiv').html('사용 가능').css('color', 'blue');
                        }
                    },

                    // 4. 서버 응답 실패 시 실행되는 함수
                    error: function (e) {
                        // 오류 메시지를 콘솔에 출력하고, 사용자에게 알림 표시
                        console.error("Error occurred while checking ID:", e);
                        alert('아이디 확인 중 오류가 발생했습니다.');
                    }
                })
            }
        })

        $('#writeBtn').click(function () {
            $('#nameDiv').empty();
            $('#idDiv').empty();
            $('#pwdDiv').empty();

            if ($('#id').val() == '') {
                $('#idDiv').html('아이디 입력');
                $('#id').focus();
            } else if ($('#name').val() == '') {
                $('#nameDiv').html('이름 입력');
                $('#name').focus();
            } else if ($('#pwd').val() == '') {
                $('#pwdDiv').html('비밀번호 입력');
                $('#pwd').focus();
            } else {
                $('#userWriteForm').submit();
            }
        })
    })


</script>-->
</body>
</html>